
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}
.container1{
    background-color:brown;
}
.spaced-text {
    margin-bottom: 20px;
}
.centered-text {
    text-align: center;
}